<!DOCTYPE html>
<html>
  <head>
    <title>Early Years Foundation Recovery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= content_tag(:p, notice, class: :notice) if notice %>
    <%= content_tag(:p, alert, class: :alert) if alert %>
    
    <%= yield %>
  </body>
</html>
